.messageContent {
  &:hover {
    .delete-container {
      svg {
        opacity: 1;
      }
    }
  }
}

.delete-container {
  position: relative;
  transition: 0.25s ease;

  &.delete-file {
    top: 10px;
  }

  &.delete-txt {
    top: 5px;
  }

  &.delete-img {
    top: 5px;
    z-index: 10;
    right: 5px;
  }

  svg {
    opacity: 0;
    color: red;
    cursor: pointer;
    transition: 0.25s ease;

    &:active {
      transform: scale(0.95);
    }
  }
}
